.container {
  color: rgb(var(--text-rgb));
  border: 2px solid rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: column;
  width: 68vw;
  padding: 15px;
  font-weight: 600;
  margin: 10px;
  background-color: rgb(var(--background-start-rgb));
  user-select: none; /* Disable text selection */
}
.tableContainer {
  margin-top: 20px;
  text-align: center;
}
.tableContainer thead {
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  align-items: center;
  font-weight: 600;
  font-size: large;
}
.tableContainer tr,
.tableContainer td {
  padding: 20px 0px;
}
.tableDataArea td {
  background: linear-gradient(
    0deg,
    rgba(var(--foreground-rgb), var(--gradient1)) 0%,
    rgba(239, 202, 0, var(--gradient2)) 35%,
    rgba(255, 215, 0, 0) 100%
  );
}
.tableContainer thead td {
  padding-bottom: 0px;
}
.tableContainer td {
  align-items: center;
}
.headPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-size: 1.5em;
}
.symbolManage {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.viewMoreButton {
  border-bottom: 2px solid rgb(var(--foreground-rgb));
  transition: 500ms;
  cursor: pointer;
}
.viewMoreButton:hover {
  padding: 5px;
  border-radius: 5px;
  transform: scale(1.05);
  border: 2px solid rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
}
.tableDataArea td {
  cursor: pointer;
  border-bottom: 1px solid rgba(var(--foreground-rgba));
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 80vw;
    padding: 10px;
  }
  .headPart {
    font-size: 15px;
  }
  .tableContainer thead td {
    padding: 15px 0;
  }
  .tableContainer tr,
  .tableContainer td {
    padding: 15px 5px;
    font-size: 13px;
  }
  .hideOnMobile {
    display: none;
  }
}
