.container {
  color: rgb(var(--text-rgb));
  border: 2px solid rgb(var(--foreground-rgb));
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 20px;
  font-weight: 600;
  margin: 10px;
  background-color: rgb(var(--background-start-rgb));
}
.tableContainer {
  margin-top: 20px;
  text-align: center;
}
.tableContainer thead {
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  align-items: center;
  font-weight: 600;
  font-size: large;
}
.tableContainer tr,
.tableContainer td {
  padding: 25px 0px;
}
.tableDataArea td{
    background: linear-gradient(
      0deg,
      rgba(var(--foreground-rgb), var(--gradient1)) 0%,
      rgba(239, 202, 0, var(--gradient2)) 35%,
      rgba(255, 215, 0, 0) 100%
    );

}
.tableContainer thead {
  padding-bottom: 0px;
}
.tableContainer thead td {
  padding-bottom: 0px;
}
.tableContainer td {
  align-items: center;
}
.headPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-size: 1.5em;
}
.symbolManage {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.viewMoreButton {
  border-bottom: 2px solid rgb(var(--foreground-rgb));
  transition: 500ms;
  cursor: pointer;
  &:hover {
    padding: 5px;
    border-radius: 5px;
    transform: scale(1.05);
    border: 2px solid rgb(var(--foreground-rgb));
    color: rgb(var(--foreground-rgb));
  }
}
.tableDataArea td {
  cursor: pointer;
  border-bottom: 1px solid rgba(var(--foreground-rgba));
}
