@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --foreground-rgb: 0, 153, 97;
  --foreground-rgba: 0, 215, 0, 0.5;
  --background-start-rgb: 255, 255, 255;
  --background-start-rgba: 255, 255, 255, 0.7;
  --text-rgb: 0, 0, 0;
  --text2-rgb: 124, 128, 130;
  --gradient1:0.05;
  --gradient2:0.01;
}

:root {
  --foreground-rgb: 175, 145, 0;
  --foreground-rgba: 255, 215, 0, 0.2;
  --background-start-rgb: 0, 0, 0;
  --background-start-rgba: 0, 0, 0, 0.6;
  --text-rgb: 255, 255, 255;
  --text2-rgb: 124, 128, 130;
  --gradient1:0.2;
  --gradient2:0.05;
}
body{
  background-color: rgb(var(--background-start-rgb));
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(var(--text-rgb));
  overflow-x: hidden;
}
