.mainArea{
    position: absolute;
    top: 100px;
    display: flex;
    margin-left: 50px;
}
.leftArea{
    display: flex;
    flex-direction: column;
}
@media (max-width:800px) {
    .mainArea{
    margin-left: 20px;
    }
    
}