.container {
    color: rgb(var(--text-rgb));
    border: 2px solid rgb(var(--foreground-rgb));
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 20px;
    font-weight: 600;
    margin: 0px 10px;
    background-color: rgb(var(--background-start-rgb));
    border-radius: 10px;
    user-select: none; /* Disable text selection */
  }
  
  .tableContainer {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }
  
  .tableContainer thead {
    border-bottom: 1px solid rgb(var(--foreground-rgb));
    align-items: center;
    font-weight: 600;
    font-size: large;
  }
  
  .tableContainer tr,
  .tableContainer td {
    padding: 25px 0px;
  }
  
  .tableContainer thead td {
    padding-bottom: 0px;
  }
  
  .headPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .heading {
    font-size: 1.5em;
  }
  
  .symbolManage {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .textGreen {
    color: green;
  }
  
  .textRed {
    color: red;
  }
  
  .tableDataArea td {
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--foreground-rgba));
  }
  
  .pgnoContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .pgnoSubContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .numberArea {
    gap: 10px;
    display: flex;
  }
  
  .currentNumber {
    color: rgb(var(--foreground-rgb));
    border: 2px solid rgb(var(--text-rgb));
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 500ms;
  }
  
  .currentNumber:hover {
    transform: scale(1.1);
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--text-rgb));
  }
  
  .hideOnMobile {
    display: table-cell;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 95vw;
      padding: 10px;
    }
  
    .tableContainer thead td {
      font-size: medium;
    }
  
    .tableContainer tr,
    .tableContainer td {
      padding: 10px 0px;
    }
  
    .currentNumber {
      width: 30px;
      height: 30px;
    }
  
    .heading {
      font-size: 1.2em;
    }
  
    .hideOnMobile {
      display: none;
    }
  }
  